@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    border-color: rgba(0,0,0,.1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: rgb(255, 255, 255);
}

.header__logo {
    font-family: "Bree Serif", serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.header__date {
    width: 30%;
}