<header class="header">
  News API
  <form>
    <input type="text" class="header__search-bar">
  </form>

  <div class="header__date">
      <input class="header__date-from" type="date">
      <input class="header__date-to" type="date">
  </div>

  <div class="header__language">
    <label for="language-select">News language:</label>

    <select id="language-select">
        <option value="language-select__en">en</option>
        <option value="language-select__ru">ru</option>
        <option value="language-select__fr">fr</option>
        <option value="language-select__es">es</option>
        <option value="language-select__de">de</option>
    </select>
  </div>
</header>
