:root {
    --global--color--primary: rgb(255, 255, 255);
    --global--color--primary-dark: rgb(58, 69, 79);
    --global--color--secondary: rgb(255, 255, 255);

    --global--height: 100px;

    --global--font-weight--normal: 400;
    --global--font-weight--bold: 700;
}